<!DOCTYPE html>
<html>
<head>
  <title>Picture It!</title>
  <link rel="stylesheet" type="text/css" href="/static/css/normalize.css" media="screen">
  <link rel="stylesheet" type="text/css" href="/static/css/10-base.css" media="screen">

  <link rel="stylesheet" type="text/css" href="/static/lib/colorpicker/colorpicker.css" media="screen">
</head>
<body>
  <div id="#container">
      {% block content %}{% endblock %}
  </div>

  
  <script src="/static/lib/underscore.js"></script>
  <script src="/static/lib/jquery-1.9.1.min.js"></script>
  <script src="/static/lib/colorpicker/colorpicker.js"></script>

  <script src="/static/js/underscore-extended.js"></script>
  <script src="/static/js/app.js"></script>
</body>
</html>
